@charset "utf-8";
/* ===================================================================
CSS information
file name  :contents.css
style info :下層コンテンツ用(#undercolumn)
=================================================================== */
/* -----------------------------------------------
#undercolumn 汎用
----------------------------------------------- */
#undercolumn {
    padding-bottom: 35px;
    background-color:#ffffff;
}
/**イントロダクション*/
.information {
    font-weight: bold;
    padding: 5px 10px;
    line-height: 1.3;
    border-bottom: #CCC solid 1px;
}
.information p:first-child {
    font-size: 14px;
    margin-bottom: 0.5em;
}
/*フォーム枠*/
.form_area {
    padding: 10px;
}
.form_area p:first-child {
    margin-bottom: 0.5em;
}
.formBox {
    margin-bottom: 20px;
    border: #A9ABAD solid 1px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.innerBox {
    padding: 10px;
    border-bottom: #CCC solid 1px;
}
.arrowBox {
    padding: 10px 25px 10px 10px;
    background: url(../img/common/ico_arrowR.png) 95% center no-repeat;
    border-bottom: #CCC solid 1px;
    clear: both;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .arrowBox {
        background: url(../img/common/ico_arrowR2.png) 95% center no-repeat;
        -webkit-background-size: 10px 15px;
        background-size: 10px 15px;
    }
}
.box_header {
    font-size: 16px;
    font-weight: bold;
    background: #EEE;
    padding: 10px;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    border-bottom: #CCC solid 1px;
}
/*合計(フォーム下)*/
.total_area,
.result_area {
    padding: 10px;
    text-align: right;
    background: #F7F5F0;
    border-top: #FFF solid 1px;
    border-bottom: #A9ABAD solid 1px;
}
.formBox .btn_area_btm {
    padding: 10px;
    background: #F7F5F0;
    border-top: #FFF solid 1px;
    border-bottom: none;
    border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
}
.formBox div:first-child {
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
}
.formBox div:last-child {
    border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    border-bottom: none;
}
.form_area div:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/* -----------------------------------------------
カートボックス
----------------------------------------------- */

/*カゴの中の商品*/
.cartinarea {
    padding: 10px;
    border-bottom: #CCC solid 1px;
}
.cartitemBox {
    padding: 10px 0;
    border-bottom: #CCC solid 1px;
    clear: both;
}
.cartinarea .cartitemBox:last-child {
    border-bottom: none;
}
.cartinarea .photoL {
    width: 80px;
}
.cartinarea .cartinContents {
    width: 68%;
    float: right;
    display: block;
    position: relative;
}
.cartinarea .cartinContents p {
    line-height: 1.2;
}
.cartinContents div {
    min-height: 50px;
}
/* -----------------------------------------------
ふきだしボックス
----------------------------------------------- */
.bubbleBox {
    width: 90%;
    font-weight: bold;
    margin: 10px auto 20px auto;
    padding: 10px 15px;
    position: relative;
    background-color: #F6F6F6;
    border: 1px solid #C5C4C0;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-box-shadow: inset 1px 1px 1px #FFF;
    -webkit-box-shadow: inset 1px 1px 1px #FFF;
    cursor: pointer;
}
.bubble_arrow_line {
    width: 0;
    height: 0;
    border-color: #C5C4C0 transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    bottom: -21px;
    left: 50%;
}
.bubble_arrow {
    width: 0;
    height: 0;
    border-color: #F6F6F6 transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    bottom: -19px;
    left: 50%;
}
.bubble_announce {
    height: 2.5em;
    background: url(../img/common/ico_arrowR.png)  right center no-repeat;
    clear: both;
    vertical-align: middle;
    margin-bottom: 5px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .bubble_announce {
        background: url(../img/common/ico_arrowR2.png) right center no-repeat;
        -webkit-background-size: 10px 15px;
        background-size: 10px 15px;
    }
}
.bubbleBox p.fb {
    line-height: 2.5em;
}
.deliv_announce p {
    width: 80%;
}
.bubbleBox a:link,
.bubbleBox a:visited {
    color: #333;
}
/* -----------------------------------------------
カートの中ページ
----------------------------------------------- */
.totalmoney_area {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    border-bottom: #CCC solid 1px;
}
.point_announce {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}
.cartinContents .btn_delete {
    padding: 2px;
    right: 0;
    float: right;
    position: absolute;
    top: 0;
    cursor: pointer;
}
.cartinContents ul {
    float: right;
    clear: both;
    line-height: 1.1;
}
.cartinContents ul li {
    display: inline;
    float: left;
}
.cartinContents ul li.quantity {
    padding-left: 0.5em;
    padding-top: 1em;
    vertical-align: bottom;
}
.cartinContents ul li.quantity_btn {
    padding-left: 0.5em;
    padding-top: 0.8em;
    vertical-align: bottom;
}
.cartinContents ul li.result {
    padding-left: 1.5em;
    padding-top: 1em;
    vertical-align: bottom;
}

.cartinContents p {
    margin-right: 25px;
}

.cartinContents p.btn_delete {
    margin-right: 0;
}
#orderFlow{
	width:100%;
	border-collapse:collapse;
}
#orderFlow td{
	width:36%;
	padding:14px 10px 14px 5px;
	color:white;
	font-weight:bold;
	background:#001c2b;
	text-align:center;
	vertical-align:middle;
	position:relative;
	line-height:136%;
}
#orderFlow td:last-of-type{
	width:28%;
	padding:14px 10px;
}
#orderFlow td small{
	color:white;
}
#orderFlow.currentIs1 td.step1{
	background:#00334e url(../img/common/bgStep.jpg) right center / auto 100% no-repeat;
}
#orderFlow.currentIs1 td.step2{
	background:#001c2b url(../img/common/bgStep2.jpg) right center / auto 100% no-repeat;
}
#orderFlow.currentIs2 td.step1{
	background:#001c2b url(../img/common/bgStep3.jpg) right center / auto 100% no-repeat;
}
#orderFlow.currentIs2 td.step2{
	background:#00334e url(../img/common/bgStep.jpg) right center / auto 100% no-repeat;
}
#orderFlow.currentIs3 td.step1{
	background:#001c2b url(../img/common/bgStep2.jpg) right center / auto 100% no-repeat;
}
#orderFlow.currentIs3 td.step2{
	background:#001c2b url(../img/common/bgStep3.jpg) right center / auto 100% no-repeat;
}
#orderFlow.currentIs3 td.step3{
	background:#00334e;
}

#total{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	padding:15px 0px;
	width:100%;
}
#total h2{
	font-size:105%;
	background:none;
	padding:0;
	color:#333333;
	text-shadow:none;
	font-weight:bold;
}
#total strong.textOrange {
	font-size:115%;
}
#total strong{
	font-size:105%;
}
#total p{
	display:block;
	border-bottom:solid 1px #bfbfbf;
	padding:5px 2px;
}
.textOrange {
    color: #e6881a;
}
#total p.promotion{
	border-bottom:none;
	padding:20px 2px;
}
#total p.promotion strong{
	font-size:100%;
}
.allProds {
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 20px;
	margin-bottom: 20px;
}
.allProdsContainer {
	margin-bottom: 10px;
	padding:20px 10px 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}

.allProds .allProdsContainer img{
	display:block;
	width:38%;
	float:left;
}

.allProds .allProdsContainer .specs {
    float: right;
    width: 58%;
    line-height:1.5em;
}
.allProds .allProdsContainer .specs .title {
    font-size: 120%;
    font-weight: bold;
}
.allProds .allProdsContainer .specs .title2 {
    display: inline-block;
    font-size: 100%;
    vertical-align: top;
    font-weight: bold;
    color:#000000 !important;
}

.cart_attention {
	margin-bottom:30px;
}
.form_area.cart_page{
	padding:10px 0 !important;
	background-color: #ffffff;
}
.cart_page article {
    box-sizing: border-box;
    padding: 15px 6px 30px;
}
dl.cart_price {

}
dl.cart_price dt {
	float:left;
}

dl.cart_price dd {
	margin-left:5.5em;
}
.cart_button_area {
	margin: 10px 0;
	position: relative;
}
.cart_button_area input.button {
	margin-right:10px !important;
}
.cart_total {
	font-size:1.2em;
	text-align:right;
	margin:10px 0 20px;
	line-height:1.5em;
}
.cart_button_area input.input_text2 {
    background: none repeat scroll 0 0 #f0f1f2;
    border: 1px solid #d5d9db;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    height: 36px;
    padding: 0 45px 0 6px;
    width: 100%;
}
.cart_button_area span.comment {
	font-weight: bold;
}
.cart_button_area .removeThis {
    background: url("../img/common/remove.png") no-repeat scroll left top / 21px 21px rgba(0, 0, 0, 0);
    border-radius: 20px;
    color: white;
    display: block;
    height: 21px;
    margin-top: -35px;
    position: absolute;
    /*right: 26%;*/
    text-decoration: none;
    top: 50%;
    transition: all 0.3s ease 0s;
    width: 21px;
}
div#undercolumnentry {
	background-color:#ffffff;
}

input.cart_quantity_input {
    width: 50%;
    display: inline-block;
}

/* -----------------------------------------------
お届け先指定
----------------------------------------------- */
.deliv_check {
    clear: both;
}
.deliv_check dt {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
    background: #EEE;
    border-top: #FFF solid 1px;
    vertical-align: middle;
    position: relative;
    display: block;
}
.deliv_check dt p {
    vertical-align: middle;
}
.deliv_check dd {
    font-size: 12px;
    padding: 10px;
    border-bottom: #CCC solid 1px;
    display: block;
}
.deliv_check dd.end {
    border-bottom: none;
}
.deliv_check dd p {
    display: inline;
    float: left;
}
.deliv_check ul.edit {
    float: right;
    clear: right;
    display: inline;
    line-height: 1.1;
    position: absolute;
    right: 10px;
    top: 12px;
}
.deliv_check dt.first {
    border-top: none;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
}
article.cart_select {
	/*margin:10px 0 30px;*/
}
article.cart_select select {
	background-color:#f0f1f2;
	background-image:url(../img/common/select_arrow.png);
	background-repeat:no-repeat;
	background-position:right center;
	background-size:20px auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	width:100%;
	border:solid 1px #d5d9db;
    -webkit-border-radius:5px;
    border-radius:5px;
	display:block;
    height: 36px;
	padding:0 6px;
	-webkit-appearance: none;
}
.cart_page article label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.cart_page article input{
	background:#f0f1f2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	width:100%;
	border:solid 1px #d5d9db;
    -webkit-border-radius:5px;
    border-radius:5px;
	display:block;
    height: 36px;
	padding:0 40px 0 6px;
}
.cart_page article a.removeThis{
	display:block;
	width:21px;
	height:21px;
	background:url(../img/common/remove.png) left top / 21px 21px no-repeat;
	color:white;
    -webkit-border-radius:20px;
    border-radius:20px;
	top:50%;
	margin-top:-4px;
	right:10px;
	text-decoration:none;
	position:absolute;
}

.cart_page article div{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	padding:0;
	position:relative;
}

hr.sep {
    margin-bottom: 20px;
}


/* -----------------------------------------------
お届け先指定(複数)
----------------------------------------------- */
.delivitemBox {
    padding: 10px;
    border-bottom: #CCC solid 1px;
    clear: both;
    position: relative;
}
.delivitemBox .photoL {
    width: 80px;
}
.delivitemBox .delivContents {
    width: 67%;
    float: right;
    display: block;
    position: relative;
}

.delivContents p {
    float: left;
    line-height: 1.2;
    margin-bottom: 5px;
    margin-right: 40px;
}
.delivContents ul {
    width: 3em;
    float: right;
    right: 7px;
    position: absolute;
}
.delivContents ul li {
    text-align: center;
    clear: both;
}

.delivContents ul li:first-child {
    line-height: 1.2;
    vertical-align: bottom;
}

/* -----------------------------------------------
お支払方法・お届け時間等の指定
----------------------------------------------- */
.pay_area ul {
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.pay_area ul li {
    line-height: 1.5;
    margin-bottom: 6px;
}
.pay_area .attention,
.pay_area2 .attention {
    margin-left: 10px;
}
.pay_area02 select:first-child {
    margin-bottom: 12px;
}
p.check_point {
    font-size: 12px;
    padding-left: 1em;
    font-weight: normal;
}
p.check_point .box_point {
    margin-right: 0.5em;
}
.contact_area p {
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact_area .textarea {
    width: 95%;
}
.non-select-msg {
    margin: 20px 0;
    border: none;
}
.time_select {
    margin-top: 5px;
    margin-bottom: 15px;
}
/* -----------------------------------------------
ご注文内容のご確認
----------------------------------------------- */
.cartcartconfirmarea {
    border-bottom: #CCC solid 1px;
}
.cartconfirmBox {
    padding: 10px 0;
    border-bottom: #CCC solid 1px;
    clear: both;
    position: relative;
}
.cartconfirmBox img {
	width:33%;
	float:left;
}
.cartconfirmContents em {
	font-size:120%;
}
.cartconfirmBox:last-child {
    border-bottom: none;
}
.cartconfirmBox .photoL {
    width: 80px;
    float: left;
}
.cartconfirmContents {
    width: 65%;
    float: right;
    display: block;
    position: relative;
    line-height: 1.3;
}
.cartconfirmContents div {
    min-height: 62px;
    line-height: 1.3;
}
/*
.cartconfirmBox ul {
    float: right;
    clear: both;
    line-height: 1.1;
}
*/
.cartconfirmBox ul li {
    display: inline;
    font-weight: bold;
}
.cartconfirmBox ul li.result {
    padding-left: 1em;
    vertical-align: bottom;
}
.result_area {
    /*font-size: 14px;*/
    font-weight: bold;
}
.result_area dl {
    text-align: right;
    float: right;
    display: block;
}
.result_area dt,
.result_area dd {
    text-align: right;
}
.result_area dt {
    font-size: 11px;
    clear: left;
    float: right;
}
dl.point dl {
    display: block;
}
.point_confifrm dl {
    font-weight: bold;
    border-bottom: #CCC solid 1px;
}
.point_confifrm dl:last-child {
    border-bottom: none;
}
.point_confifrm dt {
    width: 60%;
    padding: 10px 0 10px 10px;
    float: left;
    display: block;
}
.point_confifrm dd {
    width: 30%;
    padding: 10px 10px 10px 0;
    float: right;
    text-align: right;
}
/*.deliv_confirm dt {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    background: #EEE;
    border-top: #FFF solid 1px;
    line-height: 1.2;
    vertical-align: middle;
    position: relative;
    display: block;
}
.deliv_confirm dd {
    font-size: 12px;
    padding: 10px;
    border-bottom: #CCC solid 1px;
    display: block;
    line-height: 1.3;
}

.deliv_confirm dd:last-child {
    border-bottom: none;
}

.deliv_confirm dd p.deliv_name {
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 1.3;
}*/

.date_confirm li {
    padding-right: 1em;
    display: inline;
}

.orderconfirm_area .formBox,
.delivconfirm_area .formBox {
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	padding:10px;
}
.order_confirm dt,
.deliv_confirm dt {
	/*font-size: 14px;*/
    font-weight: bold;
	float:left;
	width:20%;
	line-height: 1.8em;
	clear:both;
}
.order_confirm dd,
.deliv_confirm dd {
	float:right;
	width: 75%;
	line-height: 1.8em;
}

.formBox1 {
	margin: 10px 10px 20px;
}
.textCenter {
	text-align:center;
}
dl.accept_confirm dt {
	background-color:#D3D8DB;
	padding:10px;
	font-weight:bold;
	margin-bottom:10px;
}
dl.accept_confirm dd {
	margin-bottom:10px;
}






/* -----------------------------------------------
入力フォーム/確認画面共通
----------------------------------------------- */
dl.form_entry {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    border-top: #999 solid 1px;
    border-bottom: #999 solid 1px;
    position: relative;
}
dl.form_entry dt {
    font-weight: bold;
    padding: 10px 12px 0;
}
dl.form_entry dd {
    padding: 0 12px 10px;
    border-bottom: #CCC solid 1px;
    line-height: 1.2;
}
dl.form_entry dd:last-child {
    border-bottom: 0;
}
dl.form_entry .selectdate {
    margin-top: 12px;
    padding: 5px 6px 5px 4px;
    font-size: 12px;
    vertical-align: bottom;
}
dl.form_entry li {
    margin-bottom: 0.3em;
    vertical-align: middle;
}
dl.form_entry .bg_head {
    padding-bottom: 10px;
}

.birthday span{
	float:left;
	margin-right:0.5em;
	line-height:1.0em;
}
.birthday select{
	float:left;
}


/* -----------------------------------------------
完了画面
----------------------------------------------- */
.thankstext {
    font-size: 16px;
    color: #FF6633;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    line-height: 1.3;
}
#completetext p {
    line-height: 1.3;
}

#completetext,
.shopInformation {
    font-size: 14px;
    padding: 10px;
    clear: both;
}
#completetext p,
.shopInformation p {
    margin-bottom: 0.5em;
    line-height: 1.3;
}
/* -----------------------------------------------
特定商/当サイトについて
----------------------------------------------- */
dl.form_info {
    width: 100%;
    margin: 10px 0 15px 0;
    padding: 0;
    border-bottom: #999 solid 1px;
    position: relative;
}
dl.form_info dt {
    font-weight: bold;
    padding: 10px 10px 0;
}
dl.form_info dd {
    padding: 0 10px 10px;
    border-bottom: #CCC solid 1px;
}
dl.form_info dd:last-child {
    border-bottom: 0;
}

#maps {
    width: 88%!important;
    margin: 10px auto!important;
}
/* -----------------------------------------------
規約
----------------------------------------------- */
#kiyaku_text {
    padding: 10px 20px;
    border-bottom: #999 solid 1px;
    border-top: #999 solid 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
}
/*-------------------------------------------------
error
----------------------------------------*/
#errorBox {
    text-align: left;
    padding: 20px;
}


/*-------------------------------------------------
個人情報保護に関するお知らせ
----------------------------------------*/
.guide_textbox p {
	margin:10px 10px 20px;
}

.guide_textbox .inqurybox {
    border: 4px solid #cccccc;
    margin:0 10px 20px;
    padding: 15px;
}

/*-------------------------------------------------
ログイン
----------------------------------------*/
#underColumnLogin .loginArea {
    background: none repeat scroll 0 0 #d4d7d9;
    border-top: 1px solid #bac0c4;
    box-sizing: border-box;
    padding: 20px 6px;
}
#underColumnLogin .inputBox {
	position: relative;
}

#underColumnLogin .inputBox input[type="text"],
#underColumnLogin .inputBox input[type="password"] {
    background: none repeat scroll 0 0 white;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    height: 38px;
    margin-bottom: 10px;
    padding: 0 15px;
    width: 100%;
}

#underColumnLogin .inputBox .removeThis {
    background: url("../img/common/remove.png") no-repeat scroll left top / 21px 21px rgba(0, 0, 0, 0);
    border-radius: 20px;
    color: white;
    display: block;
    height: 21px;
    margin-top: -10px;
    position: absolute;
    text-decoration: none;
    top: 50%;
    transition: all 0.3s ease 0s;
    width: 21px;
}


/*-------------------------------------------------
ご利用ガイド
----------------------------------------*/
#userguide_contents {
	margin-bottom:20px;
}
#userguide_contents h2,
#userguide_contents h3,
#userguide_contents h4,
#userguide_contents h5 {
	margin-bottom:10px;
	margin-top:15px;
}
#userguide_contents img {
	width:auto;
	display: inline-block;
}
#userguide_contents .guide_textbox p {
	margin:0 10px;
}
#userguide_contents ul.mL10 {
	margin-left:10px;
}
#userguide_contents ul li {
	padding-bottom:0px;
}
#userguide_contents .deliverytime table {
	width:100%;
	margin-bottom:15px;
}
#userguide_contents .deliverytime th {
	border:1px solid #cccccc;
	background-color:#EEEEEE;
}
#userguide_contents .deliverytime tr,
#userguide_contents .deliverytime td {
	border:1px solid #cccccc;
	padding:8px;
}
#userguide_contents .deliverytime strong {
	margin-bottom:10px;
}
#userguide_contents .inqurybox h4,
#userguide_contents .inqurybox h5 {
		margin-top:0px;
}
#userguide_contents .box1 {
	border:1px solid #666666;
	padding:10px;
	margin:5px 10px;
}
#userguide_contents .box1 ol {
}
.guide_textbox ol li {
    list-style: inside none decimal;
    padding-left: 20px;
    text-indent: -1.5em;
	padding-bottom:0px;
}

/*-------------------------------------------------
LP about_sk
----------------------------------------*/
#lp_page {
}
/*  HEADER  */
#lp_page header{
	border-top:solid 6px #00334e;
	background:white;
}
#lp_page header h1{
    clear: left;
    float: none;
    height: auto;
    margin: auto;
    max-width: 100%;
    padding: 0;
    position: relative;
    width: 100%;
}
#lp_page header h1 img{
    height: auto;
    margin: auto;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}

#lp_page header #video{
	background:#eeeeee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	padding:15px 10px;
}
#lp_page header #video #iframeWrap{
	padding-top:56.25%;
	position:relative;
	width:100%;
}
#lp_page header #video iframe{
	position:absolute;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
}

#lp_page section{
	background:url(../img/lp/section_bg.jpg) left top repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	padding:0 10px 15px 10px;
	border-top:solid 2px #e3dab8;
}
#lp_page .mainLink{
	background:#3c9fd2;
	padding:16px 0 25px 0;
	border-top:solid 2px #277ca8;
}
#lp_page .mainLink .enquete img{
	margin-bottom:5px;
}

/*  SERVICE  */
#lp_page #service article{
	-webkit-border-radius:3px;
    border-radius:3px;
	background:white;
	margin-bottom:10px;
	padding-bottom:15px;
}
#lp_page #service article:last-child{
	margin-bottom:0;
}
#lp_page #service article p{
	padding:0 10px;
	margin-top:10px;
}
#lp_page #service article p small{
	color:#7a7a7a;
	font-size:85%;
}
#lp_page #service article a{
	color:#00334e;
	font-weight:bold;
	text-decoration:none;
	border-bottom:solid 1px #00334e;
}
#lp_page #service article p img{
	width:5.5px;
	display:inline;
	margin-right:10px;
	vertical-align:middle;
}

/*  CATEGORIES  */
#lp_page #categories{
	padding-right:5.5px;
	padding-left:8.5px;
}
#lp_page #categories h2{
	display:block;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	padding-right:2px;
}
#lp_page #categories nav:after{
	content:".";
	display:block;
	height:0;
	font-size:0;
	clear:both;
	visibility:hidden;
}
#lp_page #categories nav a{
	display:block;
	width:50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	float:left;
	padding-right:2px;
	margin-bottom:2px;
}

/*  FAQ  */
#lp_page #faq{
	padding:0;
	border-top:solid 2px #05344d;
}
#lp_page #faq dl{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	padding:10px 10px;
}
#lp_page #faq dl.question{
	background:#e9f1f4;
}
#lp_page #faq dl.answer{
	background:white;
	padding-bottom:20px;
}
#lp_page #faq dl:after{
	content:".";
	display:block;
	height:0;
	font-size:0;
	clear:both;
	visibility:hidden;
}
#lp_page #faq dt{
	display:block;
	float:left;
	width:10%;
	max-width:100px;
	color:#00334e;
	font-weight:bold;
	font-size:110%;
	line-height:140%;
}
#lp_page #faq .question dd{
	font-weight:bold;
}
#lp_page #faq dd{
	display:block;
	float:right;
	width:90%;
	color:#00334e;
	font-size:110%;
	line-height:140%;
}
#lp_page #faq dd strong{
	font-weight:bold;
	color:#fd7e01;
	font-size:110%;
}
#lp_page #faq dd small{
	font-size:85%;
	color:#7a7a7a;
}

/*  INTERNET  */
#lp_page #internet article{
	-webkit-border-radius:3px;
    border-radius:3px;
	background:white;
	margin-bottom:10px;
	padding-bottom:15px;
	border-top:solid 4px #277ca8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	padding:15px 10px 20px 10px;
}
#lp_page #internet article:after{
	content:".";
	display:block;
	height:0;
	font-size:0;
	clear:both;
	visibility:hidden;
}
#lp_page #internet article:last-child{
	margin-bottom:0;
}
#lp_page #internet article h3{
	margin-bottom:10px;
	font-size:120%;
	line-height:140%;
}
#lp_page #internet article p{
	float:left;
	width:65%;
}
#lp_page #internet article img{
	float:right;
	width:30%;
}

/*  TOP BANNER  */
#lp_page #topBanner{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	-webkit-transition: opacity 0.4s ease-out;
	-moz-transition: opacity 0.4s ease-out;
	-o-transition: opacity 0.4s ease-out; 
	transition: opacity 0.4s ease-out;
}
#lp_page #topBanner.hide{
	zoom: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}
#lp_page #topBanner.show{
	zoom: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

/*  POPUP  */
#lp_page #popup{
	position:fixed;
	top:0;
	left:0;
	background:rgba(0, 0, 0, 0.7);
	width:100%;
	height:100%;
	display:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	padding:12px 10px;
}
#lp_page #popup .popInside{
	background:white;
	padding-bottom:5px;
}
#lp_page #popup .popInside a{
	padding:0 10px;
	display:block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	margin-bottom:10px;
}
#lp_page #popup .popInside p{
	font-size:85%;
	color:#555555;
	padding:0 10px;
}
#lp_page #popup .popInside a.closePop{
	width:80%;
	margin:10px auto;
}



/* CSS3 CROSS BROWSER FIX */
.border-radius{
	-webkit-border-radius: 0px;
    border-radius: 0px;
}
.box_shadow{
	-webkit-box-shadow: 0px 0px 4px 0px #ffffff;
	box-shadow: 0px 0px 4px 0px #ffffff;
}
.transition{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}
.box-sizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}
.opacity{
	zoom: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.text-size-adjust{
	text-size-adjust:none;
	-webkit-text-size-adjust: none;
}


@media screen and (min-width: 400px){
	
}
@media screen and (min-width: 600px){
	
}


/* 画像のみ list_1
----------------------------------------------- */
.search_results ul{
    list-style:none;
    text-align:center;
    margin-left:2px;
}

.search_results ul li{
    float:left;
    width:30%;
    margin:0 2px 20px 2px;
    vertical-align:top;
}

.search_results ul li:nth-child(3n+1){
    clear:left;
}

.search_results ul li p,a,div{
    font-size: small;
}

.search_results ul li .price{
    color: #ED7802;
    font-weight: bold;
}

/* myshopArea ----------------------------------------------------------------- */

#myshopNavi  {
    text-align: center;
    margin-top: 10px;
    border-bottom: dotted 1px #83a9bd;
    padding-bottom: 2px;
    height: 28px;
}

#myshopNavi li {
    display: inline-block;
}

#myshopNavi li.selected {
    font-weight: bold;
}

.list_02 input{
    display:inline-flex;
    height:36px;
    margin:5px;
}

.list_02 ul{
    list-style:none;
    width:95%;
    margin:0 auto;
}

.list_02 ul li{
    float:left;
    position: relative;
    width: 48%;
    margin-bottom: 10px;
    vertical-align:top;
    padding-top: 0px;
}

.list_02 ul li .standard {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    background: #efefef;
    border-radius: 3px;
}

.list_02 ul li:nth-child(2n){
    margin-left:2%;
}

.list_02 ul li:nth-child(2n+1){
    clear:left;
}

.list_02 .cartBtn{
    margin-right:5px;
    padding:0 5px;
    background: -webkit-linear-gradient(top, #ea9a3d 0%,#e5830f 100%);
    background: -o-linear-gradient(top, #ea9a3d 0%,#e5830f 100%);
    background: -ms-linear-gradient(top, #ea9a3d 0%,#e5830f 100%);
    background: linear-gradient(to bottom, #ea9a3d 0%,#e5830f 100%);
    color:white;
    border:solid 2px white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    -webkit-box-shadow: 0px 0px 4px 0px #999;
    box-shadow: 0px 0px 4px 0px #999;
    font-weight:bold;
    font-size:70%;
}

.myshop_img {
    margin-top: 5px;
    margin-left: 20px;
    width:50px;
}

/* TOP ----------------------------------------------------------------- */

.btn_bg_blue {
    background-color: #0A4CA0;
    padding: 14px 0 !important;
}

.btn_bg_blue .btn {
    background-color: #ffe200;
    box-shadow: 0 5px 0 0 #D99E00;
    margin-bottom: 5px !important;
    width: 100%;
    padding: 20px 0 !important;
    letter-spacing: 5px;
}

.btn_bg_blue .btn:hover, .detail_btn .btn:hover {
    box-shadow: 0 0 0 0 !important;
    margin-top: 5px;
    margin-bottom: 0 !important;
}

.btn_bg_blue .btn, .detail_btn .btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    font-weight: normal;
}

.btn_bg_blue {
    background-color: #0A4CA0;
    padding: 50px 0;
}

.w-costom {
    max-width: 720px;
}

.w1100 {
    padding: 0 10px;
}
.w1100 {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/* --------------------------------------------
 * entry entrance page
 * -------------------------------------------- */
.tranceparentTable {
    border: none;
}
.tranceparentTable td{
    border: none;
}
.entryTitle {
    height: 62px;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius:10px 10px 0px 0px;
    -moz-border-radius:10px 10px 0px 0px;
}
.entryForm {
    margin-left:1px;
    border: #fcfcfc 2px solid;
    box-shadow: 0 0 0 1px #CCCCCC;
    -moz-box-shadow: 0px 0px 0px 1px #cccccc;
    -webkit-box-shadow: 0px 0px 0px 1px #cccccc;
}

#memberEntryBox {
    background-color: #ffffff;
}
#memberEntryTitle {
    background-color: #2f5597;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}
#memberEntryForm {
    padding: 10px;
    font-size: 12pt;
    font-weight: bold;
}

#customerEntryBox {
    background-color: #ffffff;
}
#customerEntryTitle {
    background-color: #00b050;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}
#customerEntryForm {
    padding: 10px;
    font-size: 12pt;
    font-weight: bold;
}
